<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>901067354425-nfvoss7m0f8u72sevb469a2rmdjm0ekp.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.901067354425-nfvoss7m0f8u72sevb469a2rmdjm0ekp</string>
	<key>API_KEY</key>
	<string>AIzaSyAWyyZKIBbptmAADmsJyla5hZWMYyrsUxc</string>
	<key>GCM_SENDER_ID</key>
	<string>901067354425</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>uk.co.darkerwaters.flicButtonExample</string>
	<key>PROJECT_ID</key>
	<string>prueba-174d5</string>
	<key>STORAGE_BUCKET</key>
	<string>prueba-174d5.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:901067354425:ios:8d87fe4661418d56d238e8</string>
</dict>
</plist>